body {
    background-color: rgb(192, 184, 192);
  }
  header{
    background: linear-gradient(to bottom, blue, white);
    color: rgb(226, 226, 10);
    font-family: 'Monotype Corsiva';
    font-size: larger;
  }
    
  h1 {
    color: white;
    text-align: center;
  }

  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  nav{
    background: linear-gradient(to right, blue, white);
  }
  
  p {
    column-count: 2;
    column-gap: 20px;
    font-family: verdana;
    font-size: 15px;
  }

.bienvenidos{
  border-radius: 5px 10px 5px 10px;
}